.App {
  font-family: sans-serif;
  text-align: center;
}
.blue-with-padding {
  padding: 5px ;
  background: green;
}
.yellow-with-large-padding {
  padding: 70px !important;
  background: yellow;
}
.four-hundred-width {
  width: 400px;
}
